{% macro generate(next_slide=None, previous=None) -%}
<div class="row">
  <nav class="col-md-6 col-md-offset-4">
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
      {% if previous %}
      <a class="btn btn-default btn-lg" href="{{ url_for('page', name=previous) }}">
       <span class="glyphicon glyphicon-menu-left" alt="{{ previous }}"></span>
      </a>
      {% endif %}
      {% if next_slide %}
      <a class="btn btn-primary btn-lg" href="{{ url_for('page', name=next_slide) }}">
       <span class="glyphicon glyphicon-menu-right" alt="{{ next_slide }}"></span>
      </a>
      {% endif %}
    </div>
  </nav>
</div>
{%- endmacro %}
