{% extends 'base.html' %}

{% import 'snippets/navbar.html' as navbar %}
{% import 'snippets/slide-nav.html' as slide_nav %}

{% block header %}{% endblock %}

{% block nav %}
{{ navbar.generate(5) }}
{% endblock %}

{% block main %}
<section class="row">
<div class="jumbotron col-md-8">
  <h2 class="title">ATLA 2015 - Introduction to BIBFRAME</h2>
  <h1>Earn your Open Badge!</h1>
  <p>You can earn your participation open badge for this
   presentation, <em>Introduction to BIBFRAME</em>, by 
   following these steps:
</div>
<div class="col-md-4">
 <img src="{{ url_for('static', filename="img/open-badge.png") }}" 
            class="img-thumbnail">
</div>
</section>
<section class="well well-sm">
<ol >
  <h2><li>Create a Mozilla Open Badge Backpack Account</li></h2>
  <p>To earn your Open Badge, you'll first need to register for an
  <a href="https://backpack.openbadges.org/">Mozilla Backpack</a>
  with an email account.</p>
  <h2><li>Send email</li></h2>
  <p>Send an email (with the same address you used to register 
   for your Mozilla Backpack account) to 
   <a href="mailto:jeremy.nelson@coloradocollege.edu" 
      title="Request for ATLA Open Badge">jeremy.nelson@coloradocollege.edu</a>
   with the subject <strong>Request for ATLA Open Badge</strong>
  <h2><li>Receive Participation Open Badge Image</li></h2>
  <p>In next couple of days, you'll receive a reply email with an attached
   image of your earned Open Badge</p>
  <h2><li>Upload your Badge to your Backpack Account</li></h2>
  <p>After you receive your badge image, log into your OpenBadge 
   Account and upload the image you received in the mail. 

</ol>
</section>
<h1 style="color: green" class="text-center">Congratulations!</h1>
<h2> You just earned your ATLA 2015
   <em>Introduction to BIBFRAME</em> open badge.</p></h2>


{% endblock %}
