{% extends 'base.html' %}


{% import 'snippets/navbar.html' as navbar %}
{% import 'snippets/slide-nav.html' as slide_nav %}

{% block nav %}
{{ navbar.generate(0) }}
{% endblock %}

{% block main %}

<div class="row">
  <article class="col-md-6">
   <p class="lead">
     <a href="http://bibframe.org">BIBFRAME</a> - short for Bibliographic Framework - 
     is a new (for libraries) linked-data vocabulary and specifications
     initiated and sponsored by the Library of Congress as a replacement for the MARC21 
     format. 
   </p>
   <div class="row">
    <div class="panel panel-default col-md-6">
      <div class="panel-body">
      Earn your <a href="{{ url_for('open_badge') }}">Participation Open Badge</a>
      for attending this presentation.
     </div>
    </div>
   </div>
  </article>
  <div class="col-md-6">
    <aside class="panel panel-primary">
      <div class="panel-heading">
       <h3 class="panel-title">Learning Outcomes:</h3>
      </div>
      <div class="panel-body">
       <ol>
        <li>Learn about the general concepts behind 
           <a href="{{ url_for('page', name='library-linked-data') }}">Linked Data and Libraries</a>
        </li>
        <li>Overview of major <a href="{{ url_for('page', name='bibframe') }}">BIBFRAME classes 
          and concepts</a></li>
        <li>Understand how 
          <a href="{{ url_for('page', name='marc-to-bibframe') }}">MARC is being mapped</a>
           to BIBFRAME</li>
        <li>Exposure to <a href="{{ url_for('page', name='bibframe-tech') }}">emerging 
           technologies</a> based on or using BIBFRAME</li>
       </ol>
      </div>
   </aside>
  </div>
</div>

{{ slide_nav.generate(next_slide='library-linked-data') }}
{% endblock %}
